<div class="courses-list">
  <app-courses-item
    *ngFor="let course of coursesList | orderBy:'date'"
    [course]="course"
    (clickEditButton)="handlerClickEditBtn(course?.id)"
    (clickDeleteButton)="handlerClickDeleteBtn(course?.id)"
  ></app-courses-item>
  <button
    class="courses-list__load-btn btn"
    (click)="handlerClickLoadMoreBtn()"
    *ngIf="coursesList?.length; else elseBlock"
  >
    Load more
  </button>
  <ng-template #elseBlock>
    <button class="courses-list__load-btn btn" disabled> No data. Feel free to add new course</button>
  </ng-template>
</div>
