.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: white;
}

.breadcrumbs__item {
  background-color: white;
  margin: 0;
}

.breadcrumbs__link {
  color: #62646E;
  font-weight: 500;
}
