.footer {
  background-color: #414452;
  flex: 0 0 auto;

}

.footer__row {
  min-height: 70px;
}

.footer__copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #8B8E9B;
}
