<article
  class="courses-item container-fluid"
  [appCourseBorderColor]="course"
  [ngClass]="course.isTopRated ? 'courses-item__top-rated' : null"
>
  <div class="row">
    <h2 class="courses-item__title col-md-12 col-lg-6">
      <a href="#" class="courses-item__title-link">{{ course.title | uppercase  }}</a>
      <span class="courses-item__star-icon" *ngIf="course.isTopRated">☆</span>
    </h2>
    <div class="courses-item__date-time col-md-12 col-lg-3">
      <time class="courses-item__time">{{ course.duration | duration }}</time>
      <time class="courses-item__date">{{ course.creationDate | date:'dd LLL yyyy' }}</time>
    </div>
  </div>
  <div class="row">
    <p class="courses-item__description col-sm-12 col-md-9 col-lg-9">{{ course.description }}</p>
    <div class="courses-item__actions col-sm-12 col-md-3 col-lg-3">
      <button class="courses-item__edit-btn btn" (click)="handlerClickEditBtn()">Edit</button>
      <button class="courses-item__delete-btn btn" (click)="handlerClickDeleteBtn()">Delete</button>
    </div>
  </div>
</article>