.courses-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px #EBECF1;
  margin-bottom: 30px;

  &__title {
    font-size: 1.7em;
  }

  &__title-link {
    color: black;
  }

  &___description {
    margin: 0;
  }

  &___date-time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &___edit-btn,
  &___delete-btn {
    padding: 4px 25px;
    background-color: #30B6DD;
    border-color: #30B6DD;
    color: white;
  }

  &___delete-btn {
    margin-left: 15px;
  }

  &___date-time {
    color: #CACCDA;
  }

  &__date {
    margin-left: 20px;
  }

  &___actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media (max-width: 991px) {
    &___date-time {
      justify-content: flex-start;
      margin-bottom: 8px;
    }

    &___actions {
      margin-top: 15px;
    }
  }
}



