<div class="login content-min-height ">
  <div class="login__content">
    <h2 class="login__title">Login</h2>
    <div class="login__form">
      <input type="text" class="login__text"
         placeholder="login" [(ngModel)]="login">
      <input type="text" class="login__text"
        placeholder="password" [(ngModel)]="password">
      <button class="login__bth-submit" [disabled]="!login || !password" (click)="handlerClickLoginBtn()">Log In</button>
    </div>
    <div id="formFooter" class="login__footer">
      <a class="login__forget-link" href="/login">Forgot Password?</a>
    </div>
  </div>
</div>