.header {
  background-color: #414452;

  &__row,
  &__title {
    height: 100%;
  }

  &__link-course,
  &__link-login,
  &__link-log-of {
    color: white;
  }

  &__title-block {
    display: flex;
    align-items: center;
  }

  &__link-course {
    font-size: 0.5em;
  }

  &__link-course {
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link-log-of {
    margin-left: 30px;
  }
}
