<header class="header container-fluid content-padding header-height">
  <div class="header__row row">
      <div class="header__title-block col">
          <h1 class="header__title">
            <a href="#" class="header__link-course">video course</a>
          </h1>
      </div>
      <div class="header__links col">
        <a href="#" class="header__link-login header__link-item">User login</a>
        <a href="#" class="header__link-log-of header__link-item">Log off</a>
      </div>
  </div>
</header>