<header class="header container-fluid content-padding header-height">
  <div class="header__row row">
      <div class="header__title-block col">
          <h1 class="header__title">
            <a routerLink="" class="header__link-course">video course</a>
          </h1>
      </div>
      <div class="header__links col">
        <button
          class="header__btn-log-of"
          (click)="handlerClickLogOffBtn()"
          *ngIf="isAuth()"
          >Log off
        </button>
      </div>
  </div>
</header>